<nav class="navbar navbar-expand-lg dark-bg autohide">
    <div class="container-fluid">
        <a class="navbar-brand mt-2" href="{{url_for('home')}}">
            <h3 class="text-white">BASIC</h3>
        </a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="fa-sharp fa-solid fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" href="{{url_for('home')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" href="{{url_for('all_labs_stage')}}">Labs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" href="{{url_for('all_lessons_stage')}}">Lessons</a>
                </li>

            </ul>
            <div class="dropdown text-white">
                <a class="nav-link dropdown-toggle text-white p-0" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{session['email']}}
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <h5 class="mx-3">{{session['first_name']}} {{session['last_name']}}</h5>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        el_autohide = document.querySelector('.autohide');

        // add padding-top to bady (if necessary)

        if (el_autohide) {
            var last_scroll_top = 0;
            window.addEventListener('scroll', function () {
                let scroll_top = window.scrollY;
                if (scroll_top < last_scroll_top) {
                    el_autohide.classList.remove('scrolled-down');
                    el_autohide.classList.add('scrolled-up');
                }
                else {
                    el_autohide.classList.remove('scrolled-up');
                    el_autohide.classList.add('scrolled-down');
                }
                last_scroll_top = scroll_top;
            });
            // window.addEventListener
        }
        // if

    });
// DOMContentLoaded  end
</script>